In [2]:
# abaikan script ini
import os
import sys
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), 'pos'))

from pos import http
from pos import config
from pos.models import db

class Config(config.Config):
        SQLALCHEMY_DATABASE_URI = 'sqlite:///:memory:'
        
app = http.create_app(Config)
app.app_context().push()
db.create_all()

# CRUD

Dibahas akan dibahas bagaimana melakukan insert pada database, membaca data pada database, mengupdate data dan menghapus data

## Create

Untuk membuat entry data baru pada database kita cukup membuat instansiasi object pada class model lalu menambahkannya ke session, misal kita akan menambahkan data pada table `products`

In [3]:
from pos.models.products import Products

product = Products()
product.name = "Nama product"
product.price = 5000
product.stock = 10
db.session.add(product)
db.session.commit()

## Read

Proses baca database kita akan menggunakan `query`

In [8]:
# melihat semua product
product = Products.query.all()
print(product)

[<pos.models.products.Products object at 0x7f7bf2bb3a90>]

In [9]:
# melihat product pertama
product = Products.query.first()
print(product)

<pos.models.products.Products object at 0x7f7bf2bb3a90>

Untuk melakukan pengkodisian data mana yang akan diambil kita bisa menggunakan `filter` atau `filter_by` yang jika di lakukan di database `where`, perbedaan diantara keduanya yaitu `filter_by` hanya bisa digunakan untuk operasi sama dengan `=`.

In [10]:
# hanya mengambil dengan id = 1
product = Products.query.filter_by(id=1).first()
print(product)

<pos.models.products.Products object at 0x7f7bf2bb3a90>

In [11]:
# atau
product = Products.query.filter(Products.id == 1).first()
print(product)

<pos.models.products.Products object at 0x7f7bf2bb3a90>

In [12]:
# mengambil semua product dengan id != 1
product = Products.query.filter(Products.id != 1).all()
print(product)

[]

In [13]:
# mengambil semua product dengan id lebih dari 1
product = Products.query.filter(Products.id >= 1).all()
print(product)

[<pos.models.products.Products object at 0x7f7bf2bc4a58>]

In [14]:
# mengambil semua product dengan id kurang dari 1
product = Products.query.filter(Products.id <= 1).all()
print(product)

[<pos.models.products.Products object at 0x7f7bf2bc4a58>]

## Update

Untuk mengupdate data yang perlu kita lakukaan adalah mengambil object data yg ingin di update, untuk kemudian kita mengubah properti pada object tersebut.

In [16]:
# mengangambil product dengan id == 1
product = Products.query.filter_by(id=1).first()

# lihat sebelum di ubah
print(product.name)

Nama product

In [18]:
# ubah nama
product.name = "sabun"
db.session.add(product)
db.session.commit()

In [19]:
# cek lagi
product = Products.query.filter_by(id=1).first()

# setelah di ubah
print(product.name)

sabun

## Delete

Hampir sama seperti update hanya saja kita akan menggunakan `session.delete`

In [20]:
# mengangambil product dengan id == 1
product = Products.query.filter_by(id=1).first()
db.session.delete(product)
db.session.commit()

In [21]:
# check apakah masih ada
product = Products.query.filter_by(id=1).first()
print(product)

None